<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
    <stringAttribute key="bad_container_name" value="/${ProjDirPath}/tools"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="cubeide_cubeprogrammer_path" value="${cubeide_cubeprogrammer_path}"/>
    </mapAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${none}"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${system_path:bash}"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="--login ${workspace_loc}/tools/stm32u5_tool.sh tz_enable"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc}"/>
</launchConfiguration>
