[submodule "Middleware/FreeRTOS/kernel"]
	path = Middleware/FreeRTOS/kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	fetchRecurseSubmodules = false
[submodule "Middleware/FreeRTOS/coreMQTT"]
	path = Middleware/FreeRTOS/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT.git
	fetchRecurseSubmodules = false
[submodule "Middleware/FreeRTOS/coreMQTT-Agent"]
	path = Middleware/FreeRTOS/coreMQTT-Agent
	url = https://github.com/FreeRTOS/coreMQTT-Agent.git
	fetchRecurseSubmodules = false
[submodule "Middleware/FreeRTOS/coreJSON"]
	path = Middleware/FreeRTOS/coreJSON
	url = https://github.com/FreeRTOS/coreJSON.git
	fetchRecurseSubmodules = false
[submodule "Middleware/FreeRTOS/coreHTTP"]
	path = Middleware/FreeRTOS/coreHTTP
	url = https://github.com/FreeRTOS/coreHTTP.git
	fetchRecurseSubmodules = false
[submodule "Middleware/FreeRTOS/backoffAlgorithm"]
	path = Middleware/FreeRTOS/backoffAlgorithm
	url = https://github.com/FreeRTOS/backoffAlgorithm.git
	fetchRecurseSubmodules = false
[submodule "Middleware/FreeRTOS/corePKCS11"]
	path = Middleware/FreeRTOS/corePKCS11
	url = https://github.com/FreeRTOS/corePKCS11.git
	fetchRecurseSubmodules = false
[submodule "Middleware/FreeRTOS/FreeRTOS-Libraries-Integration-Tests"]
	path = Middleware/FreeRTOS/FreeRTOS-Libraries-Integration-Tests
	url = https://github.com/FreeRTOS/FreeRTOS-Libraries-Integration-Tests.git
	fetchRecurseSubmodules = false
[submodule "Middleware/AWS/DeviceDefender"]
	path = Middleware/AWS/IoTDeviceDefender
	url = https://github.com/aws/Device-Defender-for-AWS-IoT-embedded-sdk.git
	fetchRecurseSubmodules = false
[submodule "Middleware/AWS/DeviceShadow"]
	path = Middleware/AWS/IoTDeviceShadow
	url = https://github.com/aws/Device-Shadow-for-AWS-IoT-embedded-sdk.git
	fetchRecurseSubmodules = false
[submodule "Middleware/AWS/IoTJobs"]
	path = Middleware/AWS/IoTJobs
	url = https://github.com/aws/Jobs-for-AWS-IoT-embedded-sdk.git
	fetchRecurseSubmodules = false
[submodule "Middleware/AWS/OTA"]
	path = Middleware/AWS/OTA
	url = https://github.com/aws/ota-for-aws-iot-embedded-sdk.git
	fetchRecurseSubmodules = false
[submodule "Middleware/ARM/mbedtls"]
	path = Middleware/ARM/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
	fetchRecurseSubmodules = false
[submodule "Middleware/ARM/trusted-firmware-m"]
	path = Middleware/ARM/trusted-firmware-m
	url = https://github.com/paulbartell/tfm-staging.git
	fetchRecurseSubmodules = false
[submodule "Drivers/CMSIS/Device/ST/STM32U5xx"]
	path = Drivers/CMSIS/Device/ST/STM32U5xx
	url = https://github.com/STMicroelectronics/cmsis_device_u5.git
[submodule "Middleware/lwip"]
	path = Middleware/lwip
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "Middleware/ARM/littlefs"]
	path = Middleware/ARM/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "Middleware/ARM/mcuboot"]
	path = Middleware/ARM/mcuboot
	url = https://github.com/mcu-tools/mcuboot.git
[submodule "Middleware/tinycbor"]
	path = Middleware/tinycbor
	url = https://github.com/intel/tinycbor.git
[submodule "Drivers/STM32U5xx_HAL"]
	path = Drivers/STM32U5xx_HAL
	url = https://github.com/STMicroelectronics/stm32u5xx_hal_driver.git
[submodule "Middleware/http-parser"]
	path = Middleware/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "Middleware/ARM/ota-pal-psa"]
	path = Middleware/ARM/ota-pal-psa
	url = https://github.com/Linaro/freertos-ota-pal-psa.git
[submodule "Drivers/BSP/B-U585I-IOT02A"]
	path = Drivers/BSP/B-U585I-IOT02A
	url = https://github.com/STMicroelectronics/b-u585i-iot02a-bsp.git
[submodule "Drivers/BSP/Components/veml6030"]
	path = Drivers/BSP/Components/veml6030
	url = https://github.com/STMicroelectronics/stm32-veml6030.git
[submodule "Drivers/BSP/Components/ism330dhcx"]
	path = Drivers/BSP/Components/ism330dhcx
	url = https://github.com/STMicroelectronics/stm32-ism330dhcx
[submodule "Drivers/BSP/Components/Common"]
	path = Drivers/BSP/Components/Common
	url = https://github.com/STMicroelectronics/stm32-bsp-common.git
[submodule "Drivers/BSP/Components/hts221"]
	path = Drivers/BSP/Components/hts221
	url = https://github.com/STMicroelectronics/stm32-hts221
[submodule "Drivers/BSP/Components/iis2mdc"]
	path = Drivers/BSP/Components/iis2mdc
	url = https://github.com/STMicroelectronics/stm32-iis2mdc
[submodule "Drivers/BSP/Components/lsm6dso"]
	path = Drivers/BSP/Components/lsm6dso
	url = https://github.com/STMicroelectronics/stm32-lsm6dso
[submodule "Drivers/BSP/Components/lps22hh"]
	path = Drivers/BSP/Components/lps22hh
	url = https://github.com/STMicroelectronics/stm32-lps22hh
[submodule "Drivers/BSP/Components/aps6408"]
	path = Drivers/BSP/Components/aps6408
	url = https://github.com/STMicroelectronics/stm32-aps6408.git
[submodule "Drivers/BSP/Components/mx25lm51245g"]
	path = Drivers/BSP/Components/mx25lm51245g
	url = https://github.com/STMicroelectronics/stm32-mx25lm51245g.git
[submodule "Middleware/Unity"]
	path = Middleware/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
