# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

exclude: '^$|tools/pyocd'

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 38b88246ccc552bffaaf54259d064beeee434539 # v4.0.1
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
    -   id: end-of-file-fixer
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-ast
    -   id: check-json
    -   id: check-yaml
    -   id: check-toml
    -   id: check-xml
    -   id: check-symlinks
    -   id: destroyed-symlinks
    -   id: detect-private-key
    -   id: fix-byte-order-marker
    -   id: mixed-line-ending
        name: "Normalize line endings"
        args : [--fix=lf]

-   repo: https://github.com/ambv/black
    rev: 2f52e4b4929370ec503ee272bcc10d3176db8e89 # 21.5b1
    hooks:
    - id: black

-   repo: https://gitlab.com/pycqa/flake8
    rev: c6e0d27593a45342ffa96a18bba708a5aab32fdf # 3.9.2
    hooks:
    -   id: flake8
        additional_dependencies: [flake8-bugbear]

-   repo: https://github.com/timothycrosley/isort
    rev: a6222a8a125ec719724e628a5d3d0d5c60923281 # 5.8.0
    hooks:
    -   id: isort

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: b84ce099a2fd3c5216b6ccf3fd176c3828b075fb # v0.812
    hooks:
    -   id: mypy

-   repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 7cc5848088fd8412905ab79feea6c8edc3ac76c6 # 2.1.5
    hooks:
    -   id: forbid-binary
    # -   id: git-dirty
    # -   id: markdownlint
    -   id: protect-first-parent
    -   id: shellcheck
